body {
    font-family: "Montserrat";
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

/* Headings */

.big-heading {
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5rem;
}

/* Containers */

.container-fluid {
    padding: 7% 15%;
}

/* Sections */

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

/* Nav-... */

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 300;
}

/* Download Buttons */

.download-btn {
    margin: 5% 3% 5% 0;
    font-weight: 500;
}

/* Title section */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

/* Title Image */

.phone {
    width: 19%;
    top: 180px;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

/* Features */

#features {
    position: relative;
    background-color: #fff;
}

.feature-title {
    font-size: 1.7rem;
}

.feature-box {
    padding: 4.5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonial section */

#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
    filter: drop-shadow(0 0 0 transparent);
    transition: filter 0.3s;
}

@keyframes shadow-hover {
    0% {
      filter: drop-shadow(0 0 0 transparent);
    }
    100% {
      filter: drop-shadow(0 0 10px #fff);
    }
  }

@keyframes shadow-unhover {
    0% {
      filter: drop-shadow(0 0 10px #fff);
    }
    100% {
      filter: drop-shadow(0 0 0 transparent);
    }
  }

.press-logo:hover {
    animation: shadow-hover 0.3s forwards;
}

.press-logo:not(:hover) {
    animation: shadow-unhover 0.3s forwards;
}

/* Pricing section */

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

@media (max-width: 991px) {
    .phone {
        position: static;
        width: 60%;
        transform: rotate(0deg);
        padding-top: 20px;
    }
    
    #title {
        text-align: center;
    }
}

@media (max-width: 1154px) and (min-width: 991px) {
    .phone {
        right: 20%;
        width: 21%;
    }
}

/* Cta Section */

.cta-btn {
    margin: 5% 1.5%;
    font-size: 24px;
}

/* Footer Section */

#footer {
    font-size: 25px;
    cursor: default;
}

.footer-icons {
    margin: 20px 10px;
    margin-bottom: 40px;
    text-decoration: none;
    color: #000;
    transition:  0.4s;
}

.footer-icons:hover {
    color: #ff4c68;
}

.copyright {
    width: fit-content;
    margin: 0 auto;
}

.copyright:hover {
    color: #ff4c68;
}